# PyCharm / JetBrains
.idea/

# Temporary files
temp.py
temp*.py
*.tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build / Packaging artifacts
dist/
build/
*.egg-info/
*.whl